*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*.banner{
width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.75),rgba(145, 74, 74, 0.75)),url(pics/backround.webp);
background-size:cover;
background-position:center;
}*/
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(145, 74, 74, 0.75)), url(pics/backround.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-attachment: fixed; /* Ensure this line is not included */
    padding-bottom: 50%;
  }
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
    border-radius: 10px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px; 
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.3s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.btn{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #f9fcfb;
    background: transparent;
    color: #fdfcfc;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.regbtn{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #f9fcfb;
    background: transparent;
    color: #fdfcfc;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background:#212222;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.9s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 540px;
    background: transparent;
    border: 2px solid rgba(252, 228, 228, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc(50px + 1rem);
}
.wrapper.form-box{
    width: 100%;
    padding: 40px;
}
.form-box h2{
    font-size: 2em;
    color: #ffffff;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #2b101050;
    margin: 30px 0;
}
.imput-box label {
position: absolute;
top: 50%;
left: 5px;
transform: translateY(-50%);
font-size: 1em;
color: #f0f1f1;
font-weight: 500;
pointer-events: none;
}
.imput-box input {
width: 100%;
height: 100%;
background: transparent;
border: none;
outline: none;
}
